<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&family=Satisfy&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'Cupcakaya/Homestyle.css'%}">
    
    <title>Cupcakaya</title>
</head>
<body>
    
    <nav class="navbar">
        <h1 class="logo">Cupcakaya</h1>
        <ul class="nav-links">
            <li class="active"><a href="{% url 'Cupcakaya-Home' %}" class="text">HOME</a></li>
            <!--<li><a href="Menu.html"  class="text">ORDER</a></li>-->
            <li><a href="{% url 'Menu' %}"  class="text">ORDER</a></li>
            <li><a href="{% url 'about' %}" class="text">ABOUT US</a></li>
            <li><a href="{% url 'faq' %}" class="text">FAQ's</a></li>
            <li><a href="{% url 'cart' %}"  class="ctn">CART</a></li>
        </ul>
        <img src="static/Cupcakaya/icon1.png" alt="" class="menu-btn">
    </nav>
<header class="indexheader">
    <div class="header-content">
        <h2>Our Story</h2>
        <div class="line"></div>
        <h1 class="feedbacktxt">'We started in 2015..'</h1>
        <a href="{% url 'about' %}" class="ctn">Read more..</a>
    </div>
</header>

<section class="service">
    <div class="title">
        <h1>Our bestsellers!</h1>
        <div class="line"></div>
        <div class="row">
            <div class="col">
                <img src="cake.jpg" class="serve" alt="cake">
                <h4>Customized birthday Cake</h4>
                <p>You can order yours now</p>
                <a href="{% url 'Menu' %}" class="ctnbite">Get a bite..</a>
            </div>
            <div class="col">
                <img src="cake1.jpeg" class="serve" alt="cake">
                <h4>Al-Watan cake</h4>
                <p>Customized cake done specially for you!</p>
                <a href="{% url 'Menu' %}" class="ctnbite">Get a bite..</a>
            </div>
        </div>
    </div>
</section>

<section class="story">
    <div class="title">
        <h1>FREQUENTLY ASKED QUESTIONS</h1>
        <div class="line"></div>
        <h1 class="feedbacktxt">Get all your answers here!</h1>
        <br>
        <a href="{% url 'faq' %}" class="ctn">FAQ's</a>
        </div>
    </div>
</section>




<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="{% url 'about' %}">about us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>our options</h4>
                <ul>
                    <li><a href="{% url 'Cakes' %}">cakes</a></li>
                    <li><a href="{% url 'Cupcakes' %}">cupcakes</a></li>
                    <li><a href="{% url 'Cakepops' %}">cakepops</a></li>
                    <li><a href="{% url 'Cookies' %}">cookies</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/Cupcakaya"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.instagram.com/cupcakaya/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{%static 'Cupcakaya/java.js'%}"></script>
</body>
</html>